<template>
    <v-container>
        <v-btn v-for="(floor, index) in getNumberOfFloors()" @click="requestElevator(index)">
            {{index}}
        </v-btn>
    </v-container>
</template>

<script>
        export default {
        name: "Controller",
        created() {
            this.loadConfiguration();
            this.refreshElevatorData();
            this.$store.dispatch('sseSetup');
        },
        methods: {
            loadConfiguration() {
                this.$store.dispatch('getConfig');
            },
            refreshElevatorData() {
                this.$store.dispatch('getElevators');
            },
            getNumberOfFloors() {
                return this.$store.state.elevatorConfig.numberOfFloors;
            },
            requestElevator(floor) {
                this.$store.dispatch("requestElevator", floor);
            }
        }
    }
</script>