<template>
    <v-container class="elevator-panel">
        <v-layout>
                <v-flex style="width: 33%">
                    {{currentFloor}}
                </v-flex>
                <v-flex style="width: 34%">
                    <span v-if="direction === 'up'" class="mdi mdi-arrow-up"></span>
                    <span v-else-if="direction === 'down'"
                          class="mdi mdi-arrow-down"></span>
                    <span v-else class="mdi mdi-elevator"></span>
                </v-flex>
                <v-flex style="width: 33%"> {{addressedFloor}}</v-flex>
        </v-layout>
    </v-container>
</template>

<script>

    export default {
        name: "ElevatorPanel",
        computed: {
            currentFloor() {
                return this.$store.state.selectedElevator.currentFloor;
            },
            addressedFloor() {
                return this.$store.state.selectedElevator.addressedFloor;
            },
            direction() {
                return this.$store.state.selectedElevator.direction;
            }
        }
    }

</script>

<style scoped>
    .elevator-panel {
        text-align: center;
        font-family: "Courier";
        font-weight: bold;
        font-size: 500%;
    }
</style>