<template>
    <v-flex>
        <v-tabs>
            <v-tab ripple>
                Elevator List
            </v-tab>
            <v-tab-item fluid>
                <v-list>
                    <v-radio-group ripple>
                        <v-list-tile-title>
                            <v-layout>
                                <v-flex style="width: 8%"></v-flex>
                                <v-flex style="width: 9%">No:</v-flex>
                                <v-flex style="width: 20%">Current floor:</v-flex>
                                <v-flex style="width: 30%">Addressed floor:</v-flex>
                                <v-flex style="width: 20%">Status:</v-flex>
                                <v-flex style="width: 15%"></v-flex>
                            </v-layout>
                        </v-list-tile-title>
                        <v-list-tile v-for="(elevator, index) in getElevators" v-ripple>
                            <v-radio
                                    :value="elevator"
                                    @change="pickElevator(elevator)"
                            >
                                <template slot="label">
                                    <v-layout>
                                        <v-flex style="width: 20%"><span class="mdi mdi-elevator">&nbsp;{{index}}</span>
                                        </v-flex>
                                        <v-flex style="width: 30%">{{elevator.currentFloor}}</v-flex>
                                        <v-flex style="width: 10%">{{elevator.addressedFloor}}</v-flex>
                                        <v-flex style="width: 40%; text-align: right">{{displayedDirection(elevator)}}
                                        </v-flex>
                                    </v-layout>
                                </template>
                            </v-radio>
                            <v-btn @click="releaseElevator(elevator.id)">
                                Release
                            </v-btn>
                        </v-list-tile>
                    </v-radio-group>
                </v-list>
            </v-tab-item>
            <v-tab ripple>
                Elevator panel
            </v-tab>
            <v-tab-item>
                <ElevatorPanel/>
            </v-tab-item>
        </v-tabs>
    </v-flex>
</template>

<script>
    import ElevatorPanel from "./ElevatorPanel";

    export default {
        name: "ElevatorList",
        components: {
            ElevatorPanel
        },
        computed: {
            getElevators() {
                return this.$store.state.elevators;
            }
        },
        methods: {
            displayedDirection(elevator) {
                return `Elevator ${elevator.direction === 'none' ? 'IDLE' : 'GOING ' + elevator.direction.toUpperCase()}`;
            },
            pickElevator(elevator) {
                this.$store.dispatch("setSelectedElevator", elevator);
            },
            releaseElevator(elevatorId) {
                this.$store.dispatch("releaseElevator", elevatorId);
            }
        },
    }
</script>

<style>
    .v-input__control {
        width: 100% !important
    }

    .v-label {
        width: 100%;
    }

    .v-radio {
        width: 100% !important;
    }

</style>