<template>
    <v-app dark>
        <v-content>
            <v-container grid-list-md>
                <v-layout row wrap>
                    <v-flex xs5>
                        <v-card hover>
                            <v-card-title>
                                <h3>CONTROLLER</h3>
                            </v-card-title>
                            <v-flex>
                                <Controller/>
                            </v-flex>
                        </v-card>
                    </v-flex>
                    <v-flex xs7>
                        <v-card hover>
                            <v-card-title>
                                <h3>TRACKING</h3>
                            </v-card-title>
                            <v-flex>
                                <ElevatorList/>
                            </v-flex>
                        </v-card>
                    </v-flex>
                    <v-flex d-flex>
                        <v-card hover>
                            <v-card-title><h3>SYSTEM DATA</h3></v-card-title>
                            <v-card-text>
                                <h5>
                                    Number of elevators: {{this.$store.state.elevatorConfig.numberOfElevators}}
                                    <v-spacer/>
                                    Number of floors: {{this.$store.state.elevatorConfig.numberOfFloors}}
                                    <v-spacer/>
                                    Travel time between floors: {{this.$store.state.elevatorConfig.travelTime}}
                                </h5>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    import Controller from "./components/Controller";
    import ElevatorList from "./components/ElevatorList";

    export default {
        name: 'App',
        components: {
            ElevatorList,
            Controller
        }
    }
</script>
